.transaction-history-container {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: space-between; /* Distribute space evenly */
  justify-content: center;
  margin-top: 30px;
  width: 100%; /* Ensure it takes the full width of the parent */
}

.transaction-history-container h1 {
  font-size: 28px; /* Set your desired font size */
  color: #333; /* Set the desired text color */
  margin-right:50px;
  margin-top:10px;
}

.task-container{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
  justify-content: center;
  margin-top: 0; /* No margin-top for positioning at the top */
  margin-top: 30px;
}