.loginsignup {
    width: 100%;
    height: 80vh;
    background: linear-gradient(#2297c9, white);
    padding-top: 100px;
}

.loginsignup-container {
    width: 580px;
    /* height: 65vh; */
    height: 700px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 72px;
    width: 96%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button {
    width: 580px;
    height: 72px;
    color: white;
    background-color: black;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.error-container {
    display: flex;
    justify-content: space-between; /* Pushes items to opposite ends */
    align-items: center; /* Vertically center the elements */
    border-radius: 4px;
}

.loginsignup-signup {
    color:#5c5c5c;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.loginsignup-signup:hover {
    text-decoration: underline;
}

