.shopcat-banner {
    display: block;
    margin: 30px auto;
    width: 80%;
}

.shop-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1280px;
    margin: auto;
}

.category-indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.category-indexSort p {
    font-size: 16px;
    font-weight: 600;
}

.ShopCat-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.ShopCat-item {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ShopCat-info {
    padding: 10px;
    background-color: #f8f8f8;
    text-align: center;
}

.ShopCat-info h4 {
    font-size: 18px;
    font-weight: 600;
    color: #171717;
    margin: 10px 0;
}

.ShopCat-info p {
    font-size: 16px;
    color: #777;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 800px) {
    .shopcat-banner {
        width: 95%;
    }

    .category-indexSort {
        width: 90%;
    }

    .ShopCat-grid {
        gap: 15px;
    }

    .ShopCat-info h4 {
        font-size: 16px;
    }

    .ShopCat-info p {
        font-size: 14px;
    }
}
