.ternary-operator-container{
    display: flex;
    margin: 20px 0; /* Margin top and bottom */
    padding-left: 15%;
}

.list-of-offers-container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10% 0 15%;
    width: 80%;
    max-width: 1536px;
    height: auto;/* Set height to fill the viewport */
}

.unique-listing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    width:400px;
    flex-shrink: 1; /* Allow the item to shrink if necessary */
}

.unique-listing-card.clicked {
    box-shadow: inset 0 0 10px #60eefb; /* Inner shadow when clicked */
}

.unique-listing-card:hover {
    background-color: #60eefb;
}

.unique-listing-card {
    border: 1px solid #ccc;
    margin: 10px 0; /* Vertical margin only */
    padding:10px;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 5px #ccc;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Stretch children to fill the container */
    overflow: hidden; /* Hide overflow */
}

.unique-listing-card .listing-image {
    width: 30%;
    height: 100%; /* Full height of the card */
    object-fit: cover;
    object-position: center;
    display: block; /* Ensure it's a block-level element */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.unique-listing-card .listing-details {
    width: 70%;
    display: flex;
    flex-direction: row; /* Ensure title and price stack vertically */
    margin: 0 5px 0 10px;
    justify-content: space-between;
}

.unique-listing-card .listing-title{
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
} 
.unique-listing-card .listing-price {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.vertical-line {
    width: 2px; /* Width of the vertical line */
    height: 100vh; /* Adjust height as needed */
    background: linear-gradient(to bottom, grey, transparent); /* Gradient effect */
    margin: 0 50px; /* Adjust margin as needed */
}

.filtered-listing-container{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
    max-width: 50%;
    width: 500px;
    position: relative;
}

.filtered-listing-card-received{
    border: 1px solid #ccc;
    padding: 10px 10px 10px 20px;
    width: 100%;
    height: 60px;
    margin: 10px 0 5px 0;
    border-radius: 5px;
    align-items: center;
    display:flex;
    gap: 10px;
    overflow: hidden; /* Hide overflow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Include box-shadow in transition */
    box-shadow: 3px 3px 5px #ccc; /* 3D shadow effect */
}

.filtered-listing-card-made{
    border: 1px solid #ccc;
    padding: 10px 10px 10px 20px;
    width: 90%;
    height: 60px;
    margin: 10px 0 5px 0;
    border-radius: 5px;
    align-items: center;
    display:flex;
    gap: 10px;
    overflow: hidden; /* Hide overflow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Include box-shadow in transition */
    box-shadow: 3px 3px 5px #ccc; /* 3D shadow effect */
}


.filtered-listing-card-received p {
    flex: 1; /* Make both paragraphs take equal space */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text */
}

.filtered-listing-card-made p {
    flex: 1; /* Make both paragraphs take equal space */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text */
}

.filtered-listing-container h3{
    margin-top: 100px;
}


.no-listings-container {
    display: flex; /* Use flex to center the content */
    flex: 1; /* Take up the remaining space */
    width: 100%; /* Full width */
    display: flex;
    margin: 20px 0; /* Margin top and bottom */
    padding-left: 30%;
}

.user-rating{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.user-rating > h1 {
    font-size: 20px;
    margin: 0; /* Remove default margin */
    margin-left: 5px;
    align-items: center;
}

.accept-button-position{
    position: absolute; /* Allows positioning outside the parent */
    right: -125px;
}

.reject-button-position{
    position: absolute; /* Allows positioning outside the parent */
    right: -210px;
}

.paypal-button-position{
    position: absolute; /* Allows positioning outside the parent */
    right: -130px;
}

.offer-details-description {
    display: flex;
    flex-direction: row; /* Keep items in a row */
    align-items: center;
    justify-content: space-between; /* Space items evenly */
    width: 100%; /* Ensure it takes the full width of the parent */
}

.detail-item {
    margin: 0 10px; /* Space between detail items */
    text-align: left; /* Left align text */
    flex: 1; /* Allow items to grow and fill space */
}

.detail-title {
    font-weight: bold; /* Make titles bold */
    margin-bottom: 3px; /* Space between title and value */
}