.card-template {
    background-color: #f9f9f9; /* Light background for the card */
    width: 50%;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px 20px 0px 20px; /* Spacing inside the card */
    margin: 15px 0; /* Margin between cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    transition: transform 0.2s; /* Smooth scale effect on hover */
  }

  .all-details-above-card-template{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .all-details-below-card-template{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 3%;
    margin-bottom:0px;
    margin-top: 15px;
    }
  
  
  .card-template h3 {
    margin: 0 0 10px; /* Space below the heading */
    font-size: 1.5em; /* Larger heading */
    color: #333; /* Darker text color */
  }
  
  .card-template div {
    margin-bottom: 10px; /* Space between sections */
  }
  
  .card-template strong {
    display: block; /* Make the label a block element */
    margin-bottom: 5px; /* Space below the label */
    color: #555; /* Slightly lighter color for the label */
  }
  
  .card-template img {
    max-width: 50px; /* Limit avatar size */
    border-radius: 50%; /* Circular avatar */
    margin-top: 5px; /* Space above the avatar */
  }
  
  .card-template-userprofile{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    gap: 5px;
  }

  .card-template-user-rating{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .card-template-user-rating h1{
    font-size: 20px;
    margin: 0; /* Remove default margin */
    margin-left: 5px;
    align-items: center;
  }

  .card-template-details{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-template-details div{
    margin:0;
  }

  .card-template-details strong{
    font-size: 18px;
  }
  
  

  