.input-wrapper {
    width: calc(100% - 400px); /* This ensures 200px padding on both sides */
    max-width: 600px;          /* Optional: Set a maximum width */
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;  /* Centers the element horizontally */
  }
  
  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
  }
  
  input:focus {
    border-color: #009eb6;
    box-shadow: 0 0 5px rgba(0, 158, 182, 0.5);
  }
  
  #search-icon {
    color: royalblue;
  }

